<h1 class="h2">Dashboard</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="card border border-primary shadow mb-3">
            <div class="card-header">{{ this.wallet.username }}'s wallet</div>
            <div class="card-body">
                <small class="card-text">Address</small>
                <textarea class="form-control form-control-sm mb-2" readonly style="resize: none;"
                    rows="4">{{ this.wallet.getPublic() }}</textarea>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ nodeService.balance.clicks }} Clicks</li>
                <li class="list-group-item">{{ nodeService.balance.masks }} Masks</li>
                <li class="list-group-item">{{ nodeService.balance.respirators }} Respirators</li>
                <li class="list-group-item">{{ nodeService.balance.volunteers }} Volunteers</li>
                <li class="list-group-item">{{ nodeService.balance.doctors }} Doctors</li>
                <li class="list-group-item">{{ nodeService.balance.ventilators }} Ventilators</li>
                <li class="list-group-item">{{ nodeService.balance.researches }} Researches</li>
            </ul>
        </div>

        <div class="card border-{{ this.nodeService.nodeUrl ? 'success' : 'danger' }} shadow mb-3">
            <div class="card-header d-flex align-items-center">
                <span class="mr-auto">Node status</span>
                <button class="btn btn-sm btn-secondary" (click)="this.nodeService.refreshData()">Refresh</button>
                <a class="btn btn-sm btn-outline-secondary ml-2" routerLink="/node">Settings</a>
            </div>
            <div class="card-body card-text text-{{ this.nodeService.nodeUrl ? 'success' : 'danger' }}">
                <small>Status</small>
                <h5>{{ this.nodeService.nodeUrl ? 'Connected' : 'Not connected' }}</h5>
                <div *ngIf="this.nodeService.nodeUrl">
                    <small>Connected to</small>
                    <h5>{{ this.nodeService.nodeUrl }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card border shadow">
            <div class="card-header d-flex align-items-center">
                <span class="mr-auto">Transactions</span>
                <button class="btn btn-sm btn-primary" (click)="openTransactionModal()">New</button>
            </div>
            <div class="card-body p-0">
                <table *ngIf="nodeService.transactions.length > 0" class="table table-hover text-center m-0">
                    <thead>
                      <tr>
                        <th scope="col">Sender</th>
                        <th scope="col">Reciever</th>
                        <th scope="col">Items</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tx of nodeService.transactions" class="{{ tx.validated ? '' : 'table-warning' }}">
                            <td class="col-2">{{ formatAddress(tx.sender) }}</td>
                            <td class="col-2">{{ formatAddress(tx.reciever) }}</td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-around">
                                    <div *ngIf="tx.data.clicks" class="px-3">{{ tx.data.clicks }} clicks</div>
                                    <div *ngIf="tx.data.masks" class="px-3">{{ tx.data.masks }} masks</div>
                                    <div *ngIf="tx.data.respirators" class="px-3">{{ tx.data.respirators }} respirators</div>
                                    <div *ngIf="tx.data.volunteers" class="px-3">{{ tx.data.volunteers }} volunteers</div>
                                    <div *ngIf="tx.data.doctors" class="px-3">{{ tx.data.doctors }} doctors</div>
                                    <div *ngIf="tx.data.ventilators" class="px-3">{{ tx.data.ventilators }} ventilators</div>
                                    <div *ngIf="tx.data.researches" class="px-3">{{ tx.data.researches }} researches</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                    <span *ngIf="nodeService.transactions.length === 0" class="h5 text-muted m-3 mx-auto">No transactions</span>
                </div>
            </div>
        </div>
    </div>
</div>