<h1 class="h2">Dashboard</h1>

<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card border border-primary shadow">
            <div class="card-body">
                <small class="card-text">Username</small>
                <h5 class="card-title">{{getUsername()}}</h5>
                <small class="card-text">Wallet address</small>
                <textarea class="form-control form-control-sm" readonly rows="3" style="resize: none">{{getAddress()}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card border shadow">
            <div class="card-header" routerLink="/transactions">Transactions</div>
            <div class="card-body p-0">
                <table class="table m-0">
                    <tbody>
                        <tr>
                            <td>Who</td>
                            <td>When</td>
                            <td>What</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>