<h1 class="h2 mb-4">
    <a class="material-icons btn btn-lg btn-outline-dark" routerLink="/">chevron_left</a>
    Node
</h1>

<div class="text-center">Status: <span class="text-{{this.nodeService.nodeUrl ? 'success' : 'danger'}}">{{this.nodeService.nodeUrl ? "Connected to " + this.nodeService.nodeUrl : "Disconnected"}}</span></div>

<h6>Enter node URL manualy</h6>

<small>Node URL</small>
<div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">http://</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="nodeField" placeholder="eg. 127.0.0.1:3000">
    <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" (click)="Connect()">Connect</button>
    </div>
</div>

<h6>Or select node from tracker list</h6>

<small>Tracker URL</small>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">http://</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="trackerField" placeholder="eg. 127.0.0.1:2002">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="GetNodes()">Get nodes</button>
    </div>
</div>

<div class="list-group">
    <button *ngFor="let node of nodes" type="button" class="list-group-item list-group-item-action" (click)="nodeField = node; Connect();">{{node}}</button>
    <button *ngIf="nodes.length === 0" type="button" class="list-group-item list-group-item-action" disabled>No nodes</button>
</div>

<div *ngIf="this.nodeService.nodeUrl">
    <hr class="my-4">

    <div class="card border shadow">
        <div class="card-header d-flex align-items-center">
            <span class="mr-auto">Mempool Transactions</span>
            <button class="btn btn-sm btn-primary" (click)="nodeService.refreshData()">Refresh</button>
            <button class="btn btn-sm btn-primary ml-2" (click)="nodeService.mineBlock()">Mine block</button>
        </div>
        <div class="card-body p-0">
            <table *ngIf="nodeService.mempool.length > 0" class="table table-hover text-center m-0">
                <thead>
                  <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Reciever</th>
                    <th scope="col">Items</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tx of nodeService.mempool">
                        <td class="col-2">
                            ...{{ tx.sender.substr(tx.sender.length - 5) }}
                        </td>
                        <td class="col-2">
                            ...{{ tx.reciever.substr(tx.reciever.length - 5) }}
                        </td>
                        <td>
                            <div class="d-flex flex-wrap justify-content-around">
                                <div *ngIf="tx.data.clicks" class="px-3">{{ tx.data.clicks }} clicks</div>
                                <div *ngIf="tx.data.masks" class="px-3">{{ tx.data.masks }} masks</div>
                                <div *ngIf="tx.data.respirators" class="px-3">{{ tx.data.respirators }} respirators</div>
                                <div *ngIf="tx.data.volunteers" class="px-3">{{ tx.data.volunteers }} volunteers</div>
                                <div *ngIf="tx.data.doctors" class="px-3">{{ tx.data.doctors }} doctors</div>
                                <div *ngIf="tx.data.ventilators" class="px-3">{{ tx.data.ventilators }} ventilators</div>
                                <div *ngIf="tx.data.researches" class="px-3">{{ tx.data.researches }} researches</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex">
                <span *ngIf="nodeService.mempool.length === 0" class="h5 text-muted m-3 mx-auto">No transactions in mempool</span>
            </div>
        </div>
    </div>
</div>